<?xml version="1.0"?>
<robot name="lio_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 기본 상수 -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- 최상위 프레임 -->
  <link name="base_link"/>

  <!-- IMU -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- IMU가 base_link 정중앙일 때 -->
  </joint>

  <!-- LiDAR 센서 프레임 -->
  <link name="os_sensor"/>
  <joint name="os_sensor_joint" type="fixed">
    <parent link="imu_link"/>
    <child link="os_sensor"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/> <!-- IMU에서 LiDAR까지 Z+ 10cm 예시 -->
  </joint>

  <link name="os_lidar"/>
  <joint name="os_lidar_joint" type="fixed">
    <parent link="os_sensor"/>
    <child link="os_lidar"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="os_imu"/>
  <joint name="os_imu_joint" type="fixed">
    <parent link="os_sensor"/>
    <child link="os_imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
<!-- 
<link name="chassis_link"/>
  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
<link name="navsat_link"/>
  <joint name="navsat_joint" type="fixed">
    <parent link="base_link"/>
    <child link="navsat_link"/>
    <origin xyz="0.1 0 0.2" rpy="0 0 0"/> 
  </joint>


-->
  

</robot>

